:root
{
	--white: #cecece;
	--gray1: #727271;
	--gray2: #5f605d;
	--gray3: #484848;
	--gray4: #2f2f2f;
	--black: #21201f;
	--orange: #ef6817;
	--orange-light: #e0966a;
	--orange-dark: #a24710;
	--box-background: linear-gradient(to top, var(--gray4), var(--gray3));
	--box-hover-background: linear-gradient(to top, var(--black), var(--gray4));
	--box-shadow: 0 -1px 5px var(--black), 0 0 3px var(--black), 0 5px 10px var(--black);
	--button-background: linear-gradient(to top, var(--orange-dark), var(--orange));
	--button-hover-background: linear-gradient(to top, var(--orange), var(--orange-light));
}
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: radial-gradient(var(--gray1), var(--gray2));
}
.container
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	min-height: 500px;
	background: var(--box-background);
	border-radius: 15px;
	box-shadow: var(--box-shadow);
	padding: 10px;
}
.message
{
	position: relative;
	text-align: center;
	font-size: 3em;
	margin: 10px;
	color: var(--white);
}
form
{
	position: relative;
	display: grid;
	grid-template-columns: 0.3fr 0 0.7fr;
	grid-gap: 10px;
	width: 70%;
	align-items: center;
	color: var(--white)
}
form label
{
	grid-column: 1;
}
form .helptext
{
	font-size: 0.8em;
	grid-column: 3;
}
form input
{
	position: relative;
	height: 2em;
	border-radius: 7px;
	padding-left: 5px;
	font-size: 1em;
	border: none;
	outline: none;
	background: var(--gray1);
	transition: 0.1s;
	grid-column: 3;
}
form input:invalid {
	border-bottom: 2px solid rgba(255, 0, 0, 0.7);
}
form input:hover
{
	background: var(--white);
	box-shadow: 0 0 5px var(--white);
}
form input:focus
{
	background: var(--white);
	box-shadow: 0 0 5px var(--white), 0 0 10px var(--white);
}
form button
{
	grid-column: 1 / -1;
	width: 50%;
	height: 30px;
	justify-self: center;
	border: none;
	border-radius: 5px;
	background: var(--button-background);
	color: var(--white);
	font-size: 1em;
}
form button:hover
{
	background: var(--button-hover-background);
}
form button:active
{
	background: var(--orange-dark);
}
form ul.errorlist.nonfield
{
	color: #c90000;
	grid-column: 1 / -1;
}
form ul.errorlist
{
	color: #c90000;
	grid-column: 3;
	background: rgba(255, 206, 206, 0.7);
	border-radius: 5px;
	padding: 5px;
	list-style: none;
}
a
{
	grid-column: 1 / -1;
	justify-self: center;
	font-size: 0.9em;
	color: var(--white);
}
