:root
{
	--white: #cecece;
	--gray1: #727271;
	--gray2: #5f605d;
	--gray3: #484848;
	--gray4: #2f2f2f;
	--black: #21201f;
	--orange: #ef6817;
	--orange-light: #e0966a;
	--orange-dark: #a24710;
	--box-background: linear-gradient(to top, var(--gray4), var(--gray3));
	--box-hover-background: linear-gradient(to top, var(--black), var(--gray4));
	--box-shadow: 0 -1px 5px var(--black), 0 0 3px var(--black), 0 5px 10px var(--black);
	--button-background: linear-gradient(to top, var(--orange-dark), var(--orange));
	--button-hover-background: linear-gradient(to top, var(--orange), var(--orange-light));
}
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body
{
	min-height: 100vh;
	background: radial-gradient(var(--gray1), var(--gray2));
}
.nav
{
	position: relative;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--black);
	z-index: 999;
}
.nav .brand
{
	position: relative;
	margin: 0 15px;
}
.nav .brand a
{
	font-size: 2em;
	color: var(--white);
	text-decoration: none;
}
.nav .name
{
	position: relative;
	font-size: 1.5em;
	color: var(--white);
	margin: 0 15px;
	cursor: default;
}
.nav .links
{
	position: relative;
	flex-grow: 1;
}
.nav .user
{
	position: relative;
	font-size: 1.5em;
	color: var(--white);
	margin: 0 15px;
}
.nav form button
{
	position: relative;
	font-size: 1em;
	padding: 7px;
	color: var(--white);
	margin: 0 15px;
	background: var(--button-background);
	border: none;
}
.nav form button:hover
{
	background: var(--button-hover-background);
}
.nav form button:active
{
	background: var(--orange-dark);
}
.nav form button::before
{
	content: 'Не делайте этого! Это опасно!';
	position: absolute;
	top: 140%;
	right: 15%;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	padding: 10px;
	background: var(--black);
	font-size: 1.3em;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.nav form button:hover::before
{
	visibility: visible;
	opacity: 1;
}
