.card
{
	position: absolute;
	display: flex;
	width: 100%;
	min-height: calc(100vh - 50px);
	justify-content: center;
}
.question
{
	position: relative;
	display: grid;
	grid-gap: 10px;
	width: 500px;
	background: var(--box-background);
	box-shadow: var(--box-shadow);
	border-radius: 15px;
	padding: 15px;
	margin: 10px;
}
.question-text
{
	color: var(--white);
	font-size: 2em;
	padding: 10px 0;
	border-top: 2px solid var(--orange);
	border-bottom: 2px solid var(--orange-dark);
}
.question form
{
	display: flex;
	flex-direction: column;
	padding: 15px;
	gap: 15px
}
.question form label
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
	gap: 10px;
	color: var(--white);
}
.question form label input
{
	width: 25px;
	height: 25px;
}
.question form button
{
	justify-self: center;
	font-size: 1.2em;
	padding: 7px;
	text-decoration: none;
	color: var(--white);
	margin: 15px 15px 0 15px;
	background: var(--button-background);
	border: none;
}
.question form button:hover
{
	background: var(--button-hover-background);
}
.question form button:active
{
	background: var(--orange-dark);
}
#spinner
{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	backdrop-filter: blur(20px);
	z-index: 999;
}
#spinner .spinner
{
	position: absolute;
	border-radius: 50%;
	border: 8px solid;
}
#spinner::before
{
	content: 'Загрузка...';
	position: absolute;
	top: 55%;
	font-size: 2em;
	color: var(--white);
}
#spinner .spinner:nth-child(1)
{
	width: 100px;
	height: 100px;
	border-color: transparent;
	border-bottom-color: #d700c5;
	animation: anim1 1s infinite normal linear;
}
#spinner .spinner:nth-child(2)
{
	width: 80px;
	height: 80px;
	border-color: transparent;
	border-left-color: #00d0ff;
	animation: anim1 1s infinite reverse linear;
}
#spinner .spinner:nth-child(3)
{
	width: 60px;
	height: 60px;
	border-color: transparent;
	border-right-color: #63d532;
	animation: anim1 1s infinite normal linear;
}
@keyframes anim1 {
	from {transform: rotate(0deg)}
	to {transform: rotate(360deg)}
}
#spinner.disabled
{
	display: none;
}
