.card
{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}
.container
{
	position: relative;
	display: grid;
	grid-gap: 10px;
	width: 500px;
	background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0.4));
	box-shadow: 0 0 5px black, 0 0 15px black;
	border-radius: 15px;
	padding: 15px;
	margin: 10px;
}
.container .title
{
	color: white;
	font-size: 2em;
	font-weight: bold;
}
.container .group-list
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.container .group-item
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 2px 4px;
	font-size: 0.8em;
	cursor: default;
	box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgba(0, 0, 0, 0.3), 0 0 6px black;
}
.container .group-item:nth-child(odd)
{
	background: aqua;
}
.container .group-item:nth-child(even)
{
	background: greenyellow;
}
.group-item__description
{
	position: absolute;
	top: 130%;
	color: white;
	width: 200px;
	padding: 10px;
	text-align: center;
	background: #2d1600;
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.container .group-item:hover .group-item__description
{
	visibility: visible;
	opacity: 1;
}
.description
{
	font-size: 1em;
	color: #b6b6b6;
	text-align: justify;
	padding: 10px 0;
	border-bottom: 2px solid #d76a00;
	border-top: 2px solid #d76a00;
}
.history
{
color: red;
}
.history span
{
	font-size: 2em;
}
.run-test
{
	justify-self: center;
	font-size: 1.2em;
	padding: 7px;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	background: linear-gradient(to top, #7a4000, #d76a00);
	border: none;
}
.run-test:hover
{
	background: linear-gradient(to top, #a85800, #f87b00);
}
.run-test:active
{
	background: linear-gradient(to top, #673500, #2d1600);
}