.card
{
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
}
.container
{
	position: relative;
	display: grid;
	grid-gap: 10px;
	width: 500px;
	background: var(--box-background);
	box-shadow: var(--box-shadow);
	border-radius: 15px;
	padding: 15px;
	margin: 10px;
}
.container .title
{
	color: var(--white);
	font-size: 2em;
	font-weight: bold;
}
.container .group-list
{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.container .group-item
{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 2px 4px;
	font-size: 0.8em;
	cursor: default;
	box-shadow: inset 1px 1px 3px var(--white), inset -1px -1px 3px var(--gray4);
}
.container .group-item:nth-child(odd)
{
	background: aqua;
}
.container .group-item:nth-child(even)
{
	background: greenyellow;
}
.group-item__description
{
	position: absolute;
	top: 130%;
	color: var(--white);
	width: 200px;
	padding: 10px;
	text-align: center;
	background: var(--black);
	border-radius: 5px;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
.container .group-item:hover .group-item__description
{
	visibility: visible;
	opacity: 1;
}
.description
{
	font-size: 1em;
	color: var(--white);
	text-align: justify;
	padding: 10px 0;
	border-bottom: 2px solid var(--orange-dark);
	border-top: 2px solid var(--orange);
}
.history
{
	color: red;
}
.history span
{
	font-size: 2em;
}
.run-test
{
	justify-self: center;
	font-size: 1.2em;
	padding: 7px;
	text-decoration: none;
	color: var(--white);
	margin: 0 15px;
	background: var(--button-background);
	border: none;
}
.run-test:hover
{
	background: var(--button-hover-background);
}
.run-test:active
{
	background: var(--orange-dark);
}
